#nav-bar {
  z-index: 9999;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0em 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

#nav-bar .header {
  font-size: 200%;
  position: fixed;
  margin-top: 20px;
}

#nav-bar button {
  float: right;
  margin: 10px;
  padding: 0 25px;
  border-radius: 10px;
  border: 2px solid #000;
  height: 60px;
  color: #00a087;
  font-size: 1.3em;
}

#nav-bar button:hover {
  color: #000;
}
